:global(.day) .notification {
	height: 100px;
	margin-top: -320px;
	margin-left: -328px;
	margin-right: 0px;
	background-color: #BCB3D0;

	.notData{
		color: white;
		width: 50%;
		height: 30%;
		text-align: -webkit-center;
	}

	.icon {
		color: white;
		height: 80%
	}
	
}

:global(.night) .notification{
	height: 100px;
	margin-top: -320px;
	margin-left: -328px;
	margin-right: 0px;
	background-color: black;

	.notData{
		color: #cc0000;
		width: 50%;
		height: 30%;
		text-align: -webkit-center;
	}

	.icon {
		color: #cc0000;
		height: 80%
	}
	
}