:global(.day) .event {
	padding: 0px 30px 40px 0px;

	.eventDate {
		color: white;
		display: block;
		font-weight: bold;
	}

	.eventTitle {
		display: block;
		color: white;
	}

	.eventDescription {
		display: block;
		color: white;
	}
}

:global(.night) .event {
	padding: 0px 30px 40px 0px;
	
	.eventDate {
		color: #cc0000;
		display: block;
		font-weight: bold;
	}

	.eventTitle {
		display: block;
		color: #cc0000;
	}

	.eventDescription {
		display: block;
		color: #cc0000;
	}
}