.tableHeader {
	margin-top: 56px;
	height: 66px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 0.9em;

	.shade0 {
		background-color: #BCB3D0;
	}
	.shade1 {
		background-color: #A0A1D1;
	}
	.shade2 {
		background-color: #7E80BD;
	}
	.shade3 {
		background-color: #706DA2;
	}
	.shade4 {
		background-color: #5D5D83;
	}

	.block {
		display: block; 
		float: left;
		width: 20%;
		height: 100%;
		padding-left: 3px;
		padding-right: 3px;

		-webkit-box-shadow: inset 0px 0px 3px 1px rgba(255,255,255,0.2);
		-moz-box-shadow: inset 0px 0px 3px 1px rgba(255,255,255,0.2);
		-box-shadow: inset 0px 0px 3px 1px rgba(255,255,255,0.2);
	}

	.icon {
		padding-top: 7px;
		display: block;
		font-size: 1.6em;
	}

}