.navigation {
	padding-left: 25px;
	padding-right: 25px;

	.iconOnPage {
		font-size: 2em;
		text-align: center;
		color: white;
	}

	.iconOffPage {
		font-size: 2em;
		text-align: center;
		color: #BCB3D0;
	}

}

