:global(.day) .navigation {
	padding-left: 25px;
	padding-right: 25px;

	.iconSelected {
		font-size: 2em;
		text-align: center;
		color: white;
	}

	.iconNotSelected {
		font-size: 2em;
		text-align: center;
		color: #776a93;
	}

}

:global(.night) .navigation {
	padding-left: 25px;
	padding-right: 25px;

	.iconSelected {
		font-size: 2em;
		text-align: center;
		color: #cc0000;
	}

	.iconNotSelected {
		font-size: 2em;
		text-align: center;
		color: #440000;
	}

}